.slick-slide:not(:last-of-type) {
  /* padding-right: 20px; */
}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #e50d4c !important;
  padding: 16px;
  border-radius: 8px 0 8px 0;
  top: -40px;
  right: 0;
  left: unset;
}

.slick-prev {
  right: 40px;
}

.slick-arrow::before {
  display: none;
}

.slick-next::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../../../../../public/assets/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../../../../../public/assets/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slick-disabled {
  opacity: 0.4;
}
